<html lang="ja">
<meta charset="utf-8">
<meta name="viewport" content="width = device-width, initial-scale = 1, user-scalable = no">
<link rel="shortcut icon" href="https://img.icons8.com/small/64/000000/conference.png" type="image/png">
<title>Open Challengerの管理画面</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand">Open Challengerの管理画面</a>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-sm-10">
            <div class="form-group">
                <div style="display:{{display_login_form}};">
                    <form action="?m=admin" method=post>
                        <label>パスワード</label>
                        <input type="password" class="form-control" name="login_password" value="{{title}}" maxlength=32>
                        <input type=submit class="btn btn-primary">
                    </form>
                </div>

                <div style="display:{{display_admin_form}};">
                    <h3>Open Challengerの管理画面</h3>
                    <a href="./?m=top">トップページ</a>

                    <form action="?m=admin" method=post>
                        <label>タイトル</label>
                        <input type="text" class="form-control" name="title" value="{{title}}" maxlength=32>
                        <label>サブタイトル</label>
                        <input type="text" class="form-control" name="subtitle" value="{{subtitle}}" maxlength=48>
                        <label>目標価格</label>
                        <input type="number" class="form-control" name="goal" value="{{goal}}">
                        <label>期限</label>
                        <input type="datetime-local" class="form-control" name="deadline" value="{{deadline}}">
                        <label>YouTube-ID</label>
                        <input type="text" class="form-control" name="youtube_id" value="{{youtube_id}}">
                        <label>プロジェクトの説明</label>
                        <textarea class="form-control" name="description" rows=20>{{description}}</textarea>
                        <label>Stripeの公開キー</label>
                        <input type="text" class="form-control" name="stripe_public_key" value="{{stripe_public_key}}">
                        <label>Stripeの秘密キー</label>
                        <input type="text" class="form-control" name="stripe_secret_key" value="{{stripe_secret_key}}">
                        <label>パスワード(変更したいときだけ)</label>
                        <input type="password" class="form-control" name="password" value="" maxlength=16>
                        <label>パスワード確認(変更したいときだけ)</label>
                        <input type="password" class="form-control" name="password_confirm" value="" maxlength=16>
                        <hr>
                        <h4>支援プラン:</h4>
                        <p>各種支援プランの設定。価格を0または、100円未満にすると表示されません。最低100円以上にしてください。</p>
                        <label>プラン1の名前</label>
                        <input type="text" class="form-control" name="plan_0_title" value="{{plan_0_title}}" maxlength=16>
                        <label>プラン1の説明</label>
                        <input type="text" class="form-control" name="plan_0_description" value="{{plan_0_description}}" maxlength=128>
                        <label>プラン1の価格</label>
                        <input type="number" class="form-control" name="plan_0_price" value="{{plan_0_price}}">
                        <hr>

                        <label>プラン2の名前</label>
                        <input type="text" class="form-control" name="plan_1_title" value="{{plan_1_title}}" maxlength=16>
                        <label>プラン2の説明</label>
                        <input type="text" class="form-control" name="plan_1_description" value="{{plan_1_description}}" maxlength=128>
                        <label>プラン2の価格</label>
                        <input type="number" class="form-control" name="plan_1_price" value="{{plan_1_price}}">
                        <hr>

                        <label>プラン3の名前</label>
                        <input type="text" class="form-control" name="plan_2_title" value="{{plan_2_title}}" maxlength=16>
                        <label>プラン3の説明</label>
                        <input type="text" class="form-control" name="plan_2_description" value="{{plan_2_description}}" maxlength=128>
                        <label>プラン3の価格</label>
                        <input type="number" class="form-control" name="plan_2_price" value="{{plan_2_price}}">
                        <hr>

                        <label>プラン4の名前</label>
                        <input type="text" class="form-control" name="plan_3_title" value="{{plan_3_title}}" maxlength=16>
                        <label>プラン4の説明</label>
                        <input type="text" class="form-control" name="plan_3_description" value="{{plan_3_description}}" maxlength=128>
                        <label>プラン4の価格</label>
                        <input type="number" class="form-control" name="plan_3_price" value="{{plan_3_price}}">
                        <hr>

                        <label>プラン5の名前</label>
                        <input type="text" class="form-control" name="plan_4_title" value="{{plan_4_title}}" maxlength=16>
                        <label>プラン5の説明</label>
                        <input type="text" class="form-control" name="plan_4_description" value="{{plan_4_description}}" maxlength=128>
                        <label>プラン5の価格</label>
                        <input type="number" class="form-control" name="plan_4_price" value="{{plan_4_price}}">
                        <hr>
                        <label>購入後に表示される文言:</label>
                        <textarea class="form-control" name="thankyou" rows=10>{{thankyou}}</textarea>
                        <hr>
                        <label>プロジェクト完了後に表示される文言:</label>
                        <textarea class="form-control" name="finished" rows=10>{{thankyou}}</textarea>
                        <hr>
                        <h3>特商法関係:</h3>
                        <label>販売者:</label>
                        <input type="tk_name" class="form-control" name="tk_name" value="{{tk_name}}" maxlength=16>
                        <label>運営責任者</label>
                        <input type="tk_charge" class="form-control" name="tk_charge" value="{{tk_charge}}" maxlength=32>
                        <label>住所</label>
                        <input type="tk_address" class="form-control" name="tk_address" value="{{tk_address}}" maxlength=32>
                        <label>商品の販売価格</label>
                        <input type="tk_price" class="form-control" name="tk_price" value="{{tk_price}}" maxlength=32>
                        <label>販売価格以外でお客様に発生する金銭</label>
                        <input type="tk_expense" class="form-control" name="tk_expense" value="{{tk_expense}}" maxlength=32>
                        <label>お支払い方法</label>
                        <input type="tk_payment" class="form-control" name="tk_payment" value="{{tk_payment}}" maxlength=32>
                        <label>お問い合わせ</label>
                        <input type="tk_enquire" class="form-control" name="tk_enquire" value="{{tk_enquire}}" maxlength=32>
                        <hr>
                        <input type=submit class="btn btn-primary">
                        <p><a href="./?m=top">トップページ</a>|</p>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <p class="text-center">Open Challenger</p>
</div>
