<html lang="ja">
<meta charset="utf-8">
<meta name="viewport" content="width = device-width, initial-scale = 1, user-scalable = no">
<link rel="shortcut icon" href="https://img.icons8.com/small/64/000000/conference.png" type="image/png">
<title>{{title}}</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<nav class="navbar navbar-inverse">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand">{{title}}</a>
		</div>
	</div>
</nav>
<div class="container">
	<div class="row">
		<div class="col-sm-7">
			<h2>{{subtitle}}</h2>
			<p><iframe style="max-width:100%;" width="560" height="315" src="https://www.youtube.com/embed/{{youtube_id}}?rel=0" frameborder="0" allowfullscreen></iframe></p>
		</div>
		<div class="col-sm-4" style="padding-top: 6em;">
			<div class="alert alert-info" role="alert">
				<h3>合計金額</h3>
				<div style="text-align:right;">
					<h2>{{total}}円</h2>
				</div>
				<div style="text-align:right;">
					<h4>支援者:{{count}}人</h4>
					<h4>目標金額:{{goal}}円</h4>
				</div>
				<div style="text-align:right;">
					<h3>残り:{{left}}日</h3>
				</div>
				<div class="progress">
					<div class="progress-bar" role="progressbar" style="width: {{rate}}%" aria-valuenow="{{rate}}" aria-valuemin="0" aria-valuemax="100"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-7">
			<div style="float:left;width:25%;background-color:#3b5998;padding:0.4%; text-align: center;">
				<a style="color:#fff;" href="http://www.facebook.com/share.php?u={{url}}" rel="nofollow" target="_blank"><b>facebook</b></a>
			</div>
			<div style="float:left;width:25%;background-color:#00aced;padding:0.4%; text-align: center;">
				<a style="color:#fff;" href="https://twitter.com/share?url={{url}}"><b>twitter</b></a>
			</div>
			<div style="float:left;width:25%;background-color:#5279E7;padding:0.4%; text-align: center;">
				<a style="color:#fff;" href="http://b.hatena.ne.jp/add?mode=confirm&url={{url}}&title={{title}}{{subtitle}}" target="_blank" rel="nofollow"><b>はてな</b></a>
			</div>
			<div style="float:left;width:25%;background-color:#5ae628;padding:0.4%; text-align: center;">
				<a style="color:#fff;" href="http://line.me/R/msg/text/?{{url}}"><b>LINE</b></a>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-7">
			{{description}}
		</div>
		<div class="col-sm-4">
			<div style="display:{{display_plan_0}}">
				<div class="panel panel-default">
					<form action="/?m=pay&p={{plan_0_price}}" method="POST">
						<div class="panel-body">
							<h3>{{plan_0_title}}</h3>
							<h4>{{plan_0_price_formatted}}円</h4>
							<p>{{plan_0_description}}</p>
							<script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="{{stripe_public_key}}" data-amount="{{plan_0_price}}" data-name="{{title}}" data-allow-remember-me=false data-label="お申し込み" data-locale="ja" data-description="{{subtitle}}"
							 data-locale="ja" data-currency="jpy">
							</script>
						</div>
					</form>
				</div>
			</div>

			<div style="display:{{display_plan_1}}">
				<div class="panel panel-default">
					<form action="/?m=pay&p={{plan_1_price}}" method="POST" id="plan1_form">
						<div class="panel-body">
							<h3>{{plan_1_title}}</h3>
							<h4>{{plan_1_price_formatted}}円</h4>
							<p>{{plan_1_description}}</p>
							<script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="{{stripe_public_key}}" data-amount="{{plan_1_price}}" data-name="{{title}}" data-allow-remember-me=false data-label="お申し込み" data-locale="ja" data-description="{{subtitle}}"
							 data-locale="ja" data-currency="jpy">
							</script>
						</div>
					</form>
				</div>
			</div>
			<div style="display:{{display_plan_2}}">
				<div class="panel panel-default">
					<form action="/?m=pay&p={{plan_2_price}}" method="POST" id="plan2_form">
						<div class="panel-body">
							<h3>{{plan_2_title}}</h3>
							<h4>{{plan_2_price_formatted}}円</h4>
							<p>{{plan_2_description}}</p>
							<script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="{{stripe_public_key}}" data-amount="{{plan_2_price}}" data-name="{{title}}" data-allow-remember-me=false data-label="お申し込み" data-locale="ja" data-description="{{subtitle}}"
							 data-locale="ja" data-currency="jpy">
							</script>
						</div>
					</form>
				</div>
			</div>

			<div style="display:{{display_plan_3}}">
				<div class="panel panel-default">
					<form action="/?m=pay&p={{plan_3_price}}" method="POST">
						<div class="panel-body">
							<h3>{{plan_3_title}}</h3>
							<h4>{{plan_3_price_formatted}}円</h4>
							<p>{{plan_3_description}}</p>
							<script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="{{stripe_public_key}}" data-amount="{{plan_3_price}}" data-name="{{title}}" data-allow-remember-me=false data-label="お申し込み" data-locale="ja" data-description="{{subtitle}}"
							 data-locale="ja" data-currency="jpy">
							</script>
						</div>
					</form>
				</div>
			</div>

			<div style="display:{{display_plan_4}}">
				<div class="panel panel-default">
					<form action="/?m=pay&p={{plan_4_price}}" method="POST" id="plan4_form">
						<div class="panel-body">
							<h3>{{plan_4_title}}</h3>
							<h4>{{plan_4_price_formatted}}円</h4>
							<p>{{plan_4_description}}</p>
							<script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="{{stripe_public_key}}" data-amount="{{plan_4_price}}" data-name="{{title}}" data-allow-remember-me=false data-label="お申し込み" data-locale="ja" data-description="{{subtitle}}"
							 data-locale="ja" data-currency="jpy">
							</script>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<hr>
	<footer>
		<p class="text-center">
			<a onclick="alert('特定商取引法に基づく表記\n【販売者名】:{{tk_name}}\n【運営責任者】:{{tk_charge}}\n【住所】:{{tk_address}}\n【商品の販売価格】:{{tk_price}}\n【販売価格以外でお客様に発生する金銭】:{{tk_expense}}\n【お支払い方法】:{{tk_payment}}\n【問合せ先】：{{tk_enquire}}');">特定商取引法に基づく表記</a> | <a href="?m=admin">管理</a>
		</p>
	</footer>
